<div data-ng-controller="plugin-parametersWidget.controllers.stylerController">

    <div class="settings-pane-host">

		<div class="pane-row">
				<div class="pane-row-title">Update on Every Change</div>

				<div class="positions-holder">
					 <div data-ng-class="{ selected: model.autoUpdate == true}" data-ng-click="autoUpdate(true)" class="radio-option-item">
						<div class="custom-radio-btn" data-ng-class="{ selected: model.autoUpdate == true}"></div>
						<div class="radio-option-separator"></div>
						<div class="radio-option-caption">True</div>
					 </div>
					 
					  <div data-ng-class="{ selected: model.autoUpdate == false}" data-ng-click="autoUpdate(false)" class="radio-option-item">
						<div class="custom-radio-btn" data-ng-class="{ selected: model.autoUpdate == false}"></div>
						<div class="radio-option-separator"></div>
						<div class="radio-option-caption">False</div>
					 </div>
					 
				</div>
		</div>       	
		
	</div>
</div>