/*	Parameters parent div 	*/
.parametersContainer {
	padding: 8px;
    line-height: 25px;    
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.parametersContainer::after {
    content: '';
    width: 100%;
    display: inline-block;
}


/*	Parameters container 	*/
.parameterDiv {
	vertical-align: top;
    display: inline-block;    
}

/*	Input Labels 	*/
.parameterDiv label {
	display: inline-block;
    font-family: ubuntulight;
    color: #666;
    font-size: 12.5px;
}

/*	Input Boxes 	*/
.parameterDiv input {
    width: 75px;
    text-align: center; 
    margin-left: 10px;
    margin-right: 10px;
    font-family: ubuntulight;
    color: #666;
    font-size: 12.5px;    
}
.parameterDiv input[type='number'] {
    -moz-appearance:textfield;
}
.parameterDiv input::-webkit-outer-spin-button,
.parameterDiv input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.parameterDiv input:focus {
    background-color: #FFFF9B;
}

/*	Update/Cancel Buttons	*/
.parameterButtonsContainer {
    margin-top: -25px;
}
.parameterButton {
	border: none;
    text-align: center;
    outline: 0;
    font-family: abelregular;
    text-transform: uppercase;
    letter-spacing: .3px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px;
    padding: 5px 28px;
    text-indent: 0px;
    text-shadow: none;
    color: #fff;
}
.parameterResetButton {
	background: #fc7571;  
	float: left;  
    margin-left: 10px;
}
.parameterUpdateButton{
	background: #6ed855;	
	float: right;
    margin-right: 10px;
}
