<div class="parametersContainer">
	<span data-ng-repeat="parameter in parameters">  
		<div class="parameterDiv">
			<label for="{{parameter.dim}}" >{{parameter.title}}</label>
			<input id="{{parameter.dim}}"			   
				   type="number" 
				   ng-model="parameter.value"
				   ng-blur="inputSet($event)"
			  	   ng-keyup="inputSet($event)"
			  	   placeholder="{{parameter.defaultValue}}">
	   </div>
   </span> 
</div>
<div class="parameterButtonsContainer">
   <div >
   		<button class="parameterButton parameterResetButton" ng-click="reset()">Reset</button>
   		<button class="parameterButton parameterUpdateButton" ng-click="setFilter(this)" ng-hide="autoUpdate">Update</button>
   </div>
</div>